[submodule "ambassador/fiware-bearer-auth"]
	path = ambassador/fiware-bearer-auth
	url = https://github.com/tech-sketch/fiware-bearer-auth.git
[submodule "controller/fiware-cmd-proxy"]
	path = controller/fiware-cmd-proxy
	url = https://github.com/tech-sketch/fiware-cmd-proxy.git
[submodule "idas/iotagent-ul"]
	path = idas/iotagent-ul
	url = https://github.com/tech-sketch/iotagent-ul.git
