apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
spec:
  replicas: {{ containers.auth.replicas }}
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: {{ containers.auth.image }}
        imagePullPolicy: Always
        env:
        - name: LISTEN_PORT
          value: "3000"
        - name: AUTH_TOKENS_PATH
          value: "/opt/secrets/auth-tokens.json"
        volumeMounts:
        - name: auth-tokens-volume
          mountPath: "/opt/secrets/"
        ports:
          - name: auth
            containerPort: 3000
        livenessProbe:
          tcpSocket:
            port: 3000
          failureThreshold: 12
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 3000
          failureThreshold: 12
          periodSeconds: 10
      volumes:
        - name: auth-tokens-volume
          secret:
            secretName: auth-tokens
