apiVersion: apps/v1
kind: Deployment
metadata:
  name: cygnus-elasticsearch
spec:
  replicas: {{ containers.cygnus_elasticsearch.replicas }}
  selector:
    matchLabels:
      app: cygnus-elasticsearch
  template:
    metadata:
      labels:
        app: cygnus-elasticsearch
    spec:
      containers:
      - name: cygnus-elasticsearch
        image: {{ containers.cygnus_elasticsearch.image }}
        ports:
        - containerPort: 5058
          name: service
        - containerPort: 8081
          name: api
        livenessProbe:
          tcpSocket:
            port: 8081
          failureThreshold: 12
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 8081
          failureThreshold: 12
          periodSeconds: 10
        env:
        - name: CYGNUS_API_PORT
          value: "8081"
        - name: CYGNUS_LOG_LEVEL
          value: "INFO"
        - name: CYGNUS_ELASTICSEARCH_HOST
          value: "elasticsearch-logging.monitoring.svc.cluster.local"
        - name: CYGNUS_ELASTICSEARCH_PORT
          value: "9200"
        - name: CYGNUS_ELASTICSEARCH_SSL
          value: "false"
        - name: CYGNUS_ELASTICSEARCH_TIMEZONE
          value: "Asia/Tokyo"
        - name: CYGNUS_ELASTICSEARCH_ATTR_PERSISTENCE
          value: "column"
        - name: CYGNUS_ELASTICSEARCH_CAST_VALUE
          value: "true"
        - name: CYGNUS_ELASTICSEARCH_CACHE_FLASH_INTERVAL_SEC
          value: "2"
