image:
  repository: {{ containers.ekf.fluentd.repository }}
  tag: {{ containers.ekf.fluentd.tag }}
  pullPolicy: IfNotPresent

elasticsearch:
  host: {{ containers.ekf.fluentd.host }}
  logstashPrefix: "logstash"
  port: {{ containers.ekf.fluentd.port }}
  path: ""
  scheme: "http"
  sslVerify: true
  sslVersion: "TLSv1_2"
  outputType: "elasticsearch"
  typeName: "_doc"
  logLevel: "info"
