#!/bin/bash
export MINIKUBE_NAME="minikube"; echo "MINIKUBE_NAME=${MINIKUBE_NAME}"

export MQTT__iotagent="password_of_iotagent";echo "MQTT__iotagent=${MQTT__iotagent}"

export HOST_IPADDR="<<HOST_IPADDR>>"; echo "HOST_IPADDR=${HOST_IPADDR}"
export REPOSITORY="<<REPOSITORY>>"; echo "REPOSITORY=${REPOSITORY}"
