apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: simple-dump-cronjob
  labels:
    job: simple-dump-cronjob
spec:
  schedule: "{{ containers.mongodb_backup.cron }}"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  startingDeadlineSeconds: 120
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            job: simple-dump-cronjob
        spec:
          containers:
          - name: simple-dump-cronjob
            image: {{ containers.mongodb_backup.image }}
            env:
            - name: LOG_LEVEL
              value: "info"
            - name: TIMEZONE
              value: "Asia/Tokyo"
            - name: MONGODB_ENDPOINT
              value: "rs0/mongodb-0.mongodb:27017,mongodb-1.mongodb:27017,mongodb-2.mongodb:27017"
            - name: STORE_OPLOG
              value: "true"
            - name: DUMPFILE_PREFIX
              value: "mongodump_"
            - name: STORAGE_ACCOUNT
              value: "{{ storage_account_name }}"
            - name: ACCOUNT_KEY
              value: "{{ storage_account_key }}"
            - name: STORAGE_CONTAINER
              value: "{{ resources.storage_container }}"
          restartPolicy: Never
      backoffLimit: 3
