#!/bin/bash
export MINIKUBE_NAME="minikube"; echo "MINIKUBE_NAME=${MINIKUBE_NAME}"

export NODE_COUNT=4; echo "NODE_COUNT=${NODE_COUNT}"
export MQTT__iotagent="password_of_iotagent";echo "MQTT__iotagent=${MQTT__iotagent}"
export MQTT__raspberrypi="password_of_raspberrypi"; echo "MQTT__raspberrypi=${MQTT__raspberrypi}"
export MQTT__ros="password_of_ros"; echo "MQTT__ros=${MQTT__ros}"

export HOST_IPADDR="<<HOST_IPADDR>>"; echo "HOST_IPADDR=${HOST_IPADDR}"
export REPOSITORY="<<REPOSITORY>>"; echo "REPOSITORY=${REPOSITORY}"

export FIWARE_SERVICE="fiwaredemo"; echo "FIWARE_SERVICE=${FIWARE_SERVICE}"
export ROBOT_SERVICEPATH="/robot"; echo "ROBOT_SERVICEPATH=${ROBOT_SERVICEPATH}"
export ROBOT_ID="turtlebot3"; echo "ROBOT_ID=${ROBOT_ID}"
export ROBOT_TYPE="robot"; echo "ROBOT_TYPE=${ROBOT_TYPE}"
export GAMEPAD_SERVICEPATH="/gamepad"; echo "GAMEPAD_SERVICEPATH=${GAMEPAD_SERVICEPATH}"
export GAMEPAD_ID="gamepad"; echo "GAMEPAD_ID=${GAMEPAD_ID}"
export GAMEPAD_TYPE="gamepad"; echo "GAMEPAD_TYPE=${GAMEPAD_TYPE}"
export DEPLOYER_SERVICEPATH="/deployer"; echo "DEPLOYER_SERVICEPATH=${DEPLOYER_SERVICEPATH}"
export DEPLOYER_ID="deployer_01"; echo "DEPLOYER_ID=${DEPLOYER_ID}"
export DEPLOYER_TYPE="deployer"; echo "DEPLOYER_TYPE=${DEPLOYER_TYPE}"
